@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container {
  margin: 0px auto;
}

.result-wrapper {
  margin: 12px auto;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 24px 0px;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.excel-button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}
